# Personal files.
*.txt
# Keep 'README.txt'.
!README.txt
# Log files.
**/*.log

# Environment variables.
.env
# Local certificates
services/nginx/local_certificates/

# VsCode
.vscode/

# npm
**/node_modules

# useless sqlite db
**/db.sqlite3