doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title.
            La Crèche Humaniste - 
            {% if title %}
            {{ title }}
            {% endif %}

    body
        |{% load static %}

        h1 Basic webpack test

        script(src="{% static 'dist/index.js' %}")