[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
pydocstyle = "*"

[packages]
django = "*"
gunicorn = "*"
django-webpack-loader = "*"
django-debug-toolbar = "*"
django-otp = "*"
qrcode = "*"
psycopg2-binary = "*"
django-redis = "*"
selenium = "*"

[requires]
python_version = "3.6"
